In [7]:
import pandas as pd
from dataset import datetime, timedelta
import matplotlib.pyplot as pit
import numpy as np
from statsmodels.tsa.seasonal import seasonal_decompose
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [8]:
df = pd.read_csv('TS Weather Data April .csv')

In [9]:
df.head()

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-Apr-21,0.0,24.4,41.9,10.6,28.8,0.0,10.3
1,Adilabad,Adilabad Rural,02-Apr-21,0.0,26.2,37.7,11.0,26.3,0.0,11.2
2,Adilabad,Adilabad Rural,03-Apr-21,0.0,22.3,38.8,9.5,38.3,0.0,9.4
3,Adilabad,Adilabad Rural,04-Apr-21,0.0,21.3,39.9,7.9,29.2,0.0,6.3
4,Adilabad,Adilabad Rural,05-Apr-21,0.0,24.1,38.7,8.7,45.7,0.0,6.3

In [10]:
df.dtypes

District                  object
Mandal                    object
Date                      object
Rain (mm)                float64
Min Temp (°C)            float64
Max Temp (°C)            float64
Min Humidity (%)         float64
Max Humidity (%)         float64
Min Wind Speed (Kmph)    float64
Max Wind Speed (Kmph)    float64
dtype: object

In [11]:
df.shape

(17670, 10)

In [12]:
df.isnull().sum()

District                 0
Mandal                   0
Date                     0
Rain (mm)                0
Min Temp (°C)            0
Max Temp (°C)            0
Min Humidity (%)         0
Max Humidity (%)         0
Min Wind Speed (Kmph)    0
Max Wind Speed (Kmph)    0
dtype: int64

In [13]:
df.describe()

,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
count,17670.000000,17670.000000,17670.000000,17670.000000,17670.000000,17670.000000,17670.000000
mean,0.679134,23.761273,37.958223,28.392179,78.290390,0.044114,8.928563
std,3.773619,1.824149,1.978863,11.035581,15.424817,0.305568,6.234583
min,0.000000,17.000000,30.700000,5.000000,22.600000,0.000000,0.000000
25%,0.000000,22.600000,36.700000,20.100000,68.400000,0.000000,5.100000
50%,0.000000,23.800000,38.000000,27.800000,80.000000,0.000000,8.400000
75%,0.000000,25.000000,39.400000,36.200000,90.300000,0.000000,11.800000
max,68.000000,30.400000,44.100000,73.100000,100.000000,7.500000,69.800000

In [32]:
latest_df= df.loc['Adilabad':'Warangal']
latest_df.head()

Empty DataFrame
Columns: [District, Mandal, Date, Rain (mm), Min Temp (°C), Max Temp (°C), Min Humidity (%), Max Humidity (%), Min Wind Speed (Kmph), Max Wind Speed (Kmph)]
Index: []

In [34]:
df.head()

,District,Mandal,Date,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
0,Adilabad,Adilabad Rural,01-Apr-21,0.0,24.4,41.9,10.6,28.8,0.0,10.3
1,Adilabad,Adilabad Rural,02-Apr-21,0.0,26.2,37.7,11.0,26.3,0.0,11.2
2,Adilabad,Adilabad Rural,03-Apr-21,0.0,22.3,38.8,9.5,38.3,0.0,9.4
3,Adilabad,Adilabad Rural,04-Apr-21,0.0,21.3,39.9,7.9,29.2,0.0,6.3
4,Adilabad,Adilabad Rural,05-Apr-21,0.0,24.1,38.7,8.7,45.7,0.0,6.3

In [56]:
df.head()

,District,Mandal,Rain (mm),Min Temp (°C),Max Temp (°C),Min Humidity (%),Max Humidity (%),Min Wind Speed (Kmph),Max Wind Speed (Kmph)
Date,,,,,,,,,
2021-04-01,Adilabad,Adilabad Rural,0.0,24.4,41.9,10.6,28.8,0.0,10.3
2021-04-02,Adilabad,Adilabad Rural,0.0,26.2,37.7,11.0,26.3,0.0,11.2
2021-04-03,Adilabad,Adilabad Rural,0.0,22.3,38.8,9.5,38.3,0.0,9.4
2021-04-04,Adilabad,Adilabad Rural,0.0,21.3,39.9,7.9,29.2,0.0,6.3
2021-04-05,Adilabad,Adilabad Rural,0.0,24.1,38.7,8.7,45.7,0.0,6.3